body {
    background-color: whitesmoke;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
}
main{
    width: 70%;
}

.icon a {
    color: #606060;
}

.navbar{
    height: 70px;
    width: 100%;
    margin-left: 0px;
}

.logo {
    width:  100px ;
    height: 70px;
    float: left;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 0px;
   }

.logo img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.icon{
    margin-top: 18px;
    margin-left: 20px;
    font-size: 25px;
}

.right-elts {
    float: right;
    display: inline-flex; 
    justify-content: center;
}
.left-elts{
    float: left;
    display: inline-flex; 
    justify-content: center;

}
.right-elts > div{
    margin-right: 50px;
    margin-top: 20px;
}
#menu{
    font-size: large;
}
#input{
    margin-right: 100px;
}

.input-search {
    border: 1px #cccccc solid;
    width: 40em;
    padding: 6px;
    margin-right: 0px;
}

.btn {
    padding: 6px 6px;
    width: 50px;
    border: 1px #cccccc solid;
    margin-left: 0px;
}
.btn i {
    color: #606060;
}

.right-icons {
    color: #606060;
}
.video{
    margin-top: 20px;
    margin-left: 50px;
}
.viewers{
    
    display: inline-flex; 
    justify-content: center;
    margin-right: 100px;
}
.views{
    float: left;   
    color: #606060;
    margin-left: 50px;
    margin-right: 50px;
}
.view-icons{
    display: inline;
    float: right;
    margin-top: 15px;

}
.view-icons i{
    color: #606060;
    margin-right: 20px;
    
}
hr{
    margin: 50px 0 15 0; 
    color: #d1d1d1;

}

